<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/devices/<%= device._id %>/detail">
        <img src="/images/ico_back.png" />返回
    </a>设备名称
</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" id="device_name" placeholder="请输入设备名称" value="<% if(device.name != undefined && device.name != "") { %><%= device.mac %><% } else { %><%= device.name %><% } %>">
        </li>
    </ul>
    <button class="btn_oper" id="btnConfirm">确 定</button>
</div>
</body>
</html>
<script>
    $(function() {
        $("#btnConfirm").click(function() {
            var name = $("#device_name").val();
            if(name == "") {
                layer.alert("请输入设备名称");
                return;
            }
            $.post(__api_base_url + "/user/<%= u_id %>/device/<%= device._id %>/update_name", function(data) {
                if(data.user) {
                    $("#u_id").val(data.user._id);
                    $("#u_name").val(data.user.username);
                    $("#n_name").val(data.user.nickname);
                    $("#frmLogin").submit();
                } else {
                    layer.alert("输入的用户名或密码错误");
                }
            });
        });
    });
</script>