<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/devices/">
        <img src="/images/ico_back.png" />返回
    </a>设备详细
</nav>
<div class="main_box">
    <ul class="equip_list2">
        <li class="clearfix">
            <p>设备编码</p>
            <em><%= device._id %></em>
        </li>
        <li class="clearfix" onclick="redirectPage(1)">
            <p>设备名称</p>
            <a href="javascript:void(0);"><%= device.name %></a>
        </li>
        <li class="clearfix">
            <p>类型</p>
            <em><% if (device.type == 1) { %>主机<% } else { %>从机<% } %></em>
        </li>
        <li class="clearfix">
            <p>MAC</p>
            <em><%= device.mac %></em>
        </li>
        <li class="clearfix" onclick="redirectPage(2)">
            <p>历史数据</p>
            <a href="javascript:void(0);"></a>
        </li>
        <% if (device.type == 1) { %>
            <li class="clearfix">
                <p>滤网检测</p>
                <em></em>
            </li>
        <% } %>
    </ul>
    <button class="btn_oper" onclick="redirectPage(3);">解绑该设备</button>
</div>
</body>
</html>
<script>
    function redirectPage(index) {
        if(index == 1) {
            window.location.href = "/devices/<%= device._id %>/update_name";
        } else if(index == 2) {
            window.location.href = "/devices/<%= device._id %>/history";
        } else if(index == 3) {
            window.location.href = "/devices/<%= device._id %>/unbind";
        }
    }
</script>